NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Database Configuration
DATABASE_URL=

# GitHub Integration
GH_ACCESS_TOKEN=

# Redis Configuration
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# IP Salting
IP_SALT=

# BetterAuth Configuration
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# OAuth Providers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
