---
import BaseLayout from "../layouts/BaseLayout.astro";
import resume from "../data/resume";
---

<html lang="en">
  <body>
    <BaseLayout title="Resume">
      <h1>Astro</h1>
    </BaseLayout>
  </body>
</html>
