---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section
  class="mb-8 flex flex-col items-start justify-between gap-8 md:mb-16 md:flex-row md:gap-16"
>
  <div class="prose dark:prose-invert">
    <h2 class="uppercase">{title}</h2>
  </div>
  <div class="w-full">
    <slot />
  </div>
</section>
